<div class="card card-tournament">
    <h5 class="card-header">ᲢᲣᲠᲜᲘᲠᲔᲑᲘ ᲓᲐ ᲡᲐᲢᲔᲚᲘᲢᲔᲑᲘ</h5>
    <div class="card-body">
        <div class="container">
            <div class="tournament">
                <div>
                    <h5 class="card-title">სერიის ფარგლებში, ყოველდღიურად გაიმართება 3 ივენთი:</h5>
                </div>
                <div class="card-date d-flex justify-content-center m-auto">
                    <div class="card-date__icon">
                        <img src="assets/images/clock-time.svg" alt="">
                    </div>
                    <span class="card-date__dates">19:00 &nbsp;/&nbsp;</span>
                    <span class="card-date__dates">19:30 &nbsp;/&nbsp; </span>
                    <span class="card-date__dates">&nbsp;20:00 &nbsp;</span>
                </div>
                <div class="card-info">
                    <p class="card-info__text">* ყველა ტურნირზე მოხვედრა შესაძლებელია 0 ლარიდან.</p>
                    <p class="card-info__text"> ტურნირების სრული განრიგის სანახავად გადადი<br>პოკერის ლობიში</p>
                </div>
                <div class="card-button">
                    <button type="button" class="btn">
                        <a href="/">პოკერის ლობი</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <h5 class="card-header">ᲛᲝᲮᲕᲓᲘ TOP20 ᲚᲘᲓᲔᲠᲑᲝᲠᲓᲨᲘ ᲢᲣᲠᲜᲘᲠᲔᲑᲖᲔ ᲓᲐᲒᲠᲝᲕᲔᲑᲣᲚᲘ ᲥᲣᲚᲔᲑᲘᲗ</h5>
    <div class="card-body">
        <div class="container">
            <div class="score d-flex justify-content-center m-auto">
                <span>ქულების დაგროვების მექანიკა</span>
                <div class="score-img">
                    <img src="assets/images/angle-down-solid.svg" alt="">
                </div>
            </div>
            <div class="leaderboard">
                <app-leaderboard></app-leaderboard>
            </div>
            <p class="card-texts">* ლიდერბორდის შედეგები განახლდება 
                <a href="/">პოკერის ლობიში</a>
            </p>
            <p>* სატურნირო ლიდერბორდის ქულების დათვლაში არ მონაწილეობს ფრიროლები და სატელიტები</p>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="container">
            <h3 class="events-title">ᲧᲝᲕᲔᲚᲓᲦᲘᲣᲠᲘ ᲢᲣᲠᲜᲘᲠᲔᲑᲘ ᲓᲐ ᲡᲐᲢᲔᲚᲘᲢᲔᲑᲘ</h3>
            <div class="events-items">
                <div class="event-items__top d-flex justify-content-between">
                    <div class="event-item d-flex  m-auto col-md-6">
                        <div class="event-item__left">
                            <h6>Holdem Highrollers</h6>
                            <span>50 000 ₾</span>
                        </div>
                        <div class="event-item__right">
                            <p>ბაი-ინი - 550₾</p>
                            <div class="event-item__right__text">
                                <p>27 აპრილი</p>
                            </div>
                        </div>
                    </div>
                    <div class="event-item d-flex m-auto col-md-6">
                        <div class="event-item__left">
                            <h6>Holdem Highrollers</h6>
                            <span>50 000 ₾</span>
                        </div>
                        <div class="event-item__right">
                            <p>ბაი-ინი - 550₾</p>
                            <div class="event-item__right__text">
                                <p>27 აპრილი</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- event-items__top -->
                <div class="event-items__bottom">
                    <div class="d-flex  m-auto col-md-7">
                        <div class="event-bottom__left">
                            <h6>Holdem Highrollers</h6>
                            <span>50 000 ₾</span>
                        </div>
                        <div class="event-bottom__right">
                            <p>ბაი-ინი - 550₾</p>
                            <div class="event-bottom__right__text">
                                <p>27 აპრილი</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="card-texts">* სამივე ტურნირის გამარჯვებულები მიიღებენ ბეჭდებს და ფინალურ ეტაპზე, The<br> Lord of the Rings ტურნირზე, იბრძოლებენ The Festival in Malta-ს საგზურის მისაღებად.</p>
            </div>
        </div>
    </div>
</div>
<app-content-info></app-content-info>
<app-content-rules></app-content-rules>
<app-content-promotions></app-content-promotions>
