<app-modal>

  <div class="d-flex align-items-center heading" heading>
    <p class="heading-selected" id="exampleModalLabel">სლოტები</p>
    <p class="heading-date">10 იანვარი - 12 მარტი</p>
  </div>
  <!-- Tabs -->
  <app-tabs-container>
      <!-- cash-games -->
    <app-tab tabTitle="Cash Games" tabSubtitle="1 - 29 აპრილი">
      <app-cash-games></app-cash-games>
    </app-tab >
     <!-- spring-series -->
    <app-tab tabTitle="Spring Series" tabSubtitle="13 - 29 აპრილი">
      <p>something spring</p>
    </app-tab >
      <!-- final-stage -->
    <app-tab tabTitle="Final Stage" tabSubtitle="30 აპრილი">
      <p>something final</p>
    </app-tab>
  </app-tabs-container>

 

 
</app-modal>


 