<div class="container">
    <nav class="nav-link__bar ">
        <ul class="nav-links d-flex">
            <li class="nav-link">
                <a href="https://www.europebet.com/ka/sport">
                    სპორტი
            </a>
            </li>
            <li class="nav-link">
                <a href="https://www.europebet.com/ka/live">
                    ლაივი
            </a>
            </li>
            <li class="nav-link">
                <a routerLink="">
                    სლოტები
            </a>
            </li>
            <li class="nav-link">
                <a href="https://www.europebet.com/ka/live-casino">
                    ლაივ კაზინო
            </a>
            </li>
            <li class="nav-link">
                <a href="https://www.europebet.com/ka/poker">
                    პოკერი
            </a>
            </li>
            <li class="nav-link">
                <a href="https://www.europebet.com/ka/table-games">
                    მაგიდის თამაშები
            </a>
            </li>
            <li class="nav-link">
                <a href="https://www.europebet.com/ka">
                    BOOM
            </a>
            </li>
            <li class="nav-link">
                <a href="https://www.europebet.com/ka/virtual-games">
                    ვირტუალური
            </a>
            </li>
            <li class="nav-link">
                <a href="https://www.europebet.com/ka/promotions">
                    აქციები
            </a>
            </li>
        </ul>
    </nav>
</div>
