.modal{
    color:#FFFFFF;
}
.modal-body{
    overflow:hidden;
}
.modal-content{
    background:#1C1D1E;
    border-radius:15px;
    position:relative;
    overflow:hidden;
}
.fixed-btn{
    background-color:#F05A22;
    padding:8px 40px;
    
}
.fixed-btn a{
    text-decoration:none;
    color:#FFFFFF;
    font-size:15px;
    font-weight:600;
}
.modal-header{
    position: fixed;
    top: 25px;
    z-index: 1000;
    border:none;
}
.modal-footer{
    display: flex;
    justify-content: center;
    border-top:3px solid #F05A22;
    padding:14px 0;
    width: 940px;
    position: fixed;
    bottom: 16px;
    background:#171718;
}
.modal-dialog{
    max-width:940px;
    height:auto;
}
.btn-close{
    background:#000000;
    padding:12px;
    border-radius:50%;
    color:#FFFFFF;
}
.modal-background{
    height:350px;
}
.modal-background__img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}


