.content-info{
    background:#2C3234;
    border:0;
    border-radius:20px;
    padding:24px 0;
    margin-bottom:55px;
    text-align:center;
}
.content-info h3{
    font-size:18px;
    font-weight:500;
    margin-bottom:10px;
}
.content-info span{
    font-size:15px;
}
