.nav-tabs{
    background:#2C3234;
    border:0;
    border-radius:10px;
    margin-bottom:30px;
}
.nav-link{
    color:#FFFFFF;
    padding:0 45px 25px;
    text-align:center;
    border:none;
}
.nav-subtitle{
    margin:0;
    text-align:center;
    padding:25px 0 4px;
    color:white;
}
.nav-item{
    border-radius:10px;
}
.nav-item:hover{
    background:#EF5A21;
    box-shadow: 0 0 10px #EF5A21;
    transform: scale(1.1);
}
.nav-item a{
    text-decoration:none;
}