<div class="final-stage">
    <div class="festival">
        <div class="festival-image">
            <img src="assets/images/final-info-img.jpg" alt="">
        </div>
        <div class="festival-info">
            <h3 class="card-title">
                ᲒᲐᲔᲛᲒᲖᲐᲕᲠᲔ THE FESTIVAL IN MALTA-ᲖᲔ!
            </h3>
            <p class="card-subtitle">
                The Festival სერიების ფარგლებში, ევროპაბეთი უკვე მეორედ აძლევს პოკერის მოთამაშეებს<br> დაუვიწყარი მოგზაურობის შანსს.
            </p>
            <div class="festival__item col-md-9 m-auto">
                <p class="festival__text">15-დან 21 მაისის ჩათვლით მალტა პოკერის ფესტივალს უმანსპინძლებს</p>
            </div>
        </div>
        <div class="festival-travel d-flex justify-content-between">
            <div class="festival-travel__item">
                <div class="card festival-card">
                    <h5 class="card-header festival-header">A კატეგორიის საგზურში შედის</h5>
                        <div class="travel-body">
                            <ul class="travel-items">
                                <li class="travel-item d-flex">
                                    <div class="travel-item__image">
                                        <img src="assets/images/final-item-ticket-icon.png" alt="">
                                    </div>
                                    <p class="travel-item__text">ორმხრივი ავიაბილეთი</p>
                                </li>
                                <li class="travel-item d-flex">
                                    <div class="travel-item__image">
                                        <img src="assets/images/final-item-event-icon.png" alt="">
                                    </div>
                                    <p class="travel-item__text">The Festival in Malta<br> -ს მეინ ივენთის ბაი-ინი</p>
                                </li>
                                <li class="travel-item d-flex">
                                    <div class="travel-item__image">
                                        <img src="assets/images/final-item-event-icon.png" alt="">
                                    </div>
                                    <p class="travel-item__text">Holdem ან Omaha <br>ჰაიროლერ ტურნირის ბაი-ინი</p>
                                </li>
                                <li class="travel-item d-flex">
                                    <div class="travel-item__image">
                                        <img src="assets/images/final-item-hotel-icon.png" alt="">
                                    </div>
                                    <p class="travel-item__text">სასტუმრო Golden Tulip<br> Vivaldi Hote</p>
                                </li>
                                <li class="travel-item d-flex">
                                    <div class="travel-item__image">
                                        <img src="assets/images/final-item-money-icon.png" alt="">
                                    </div>
                                    <p class="travel-item__text">€500 სახარჯი ფული</p>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
            <div class="festival-travel__item">
                <div class="card festival-card">
                    <h5 class="card-header festival-header">A კატეგორიის საგზურში შედის</h5>
                        <div class="travel-body">
                            <ul class="travel-items">
                                <li class="travel-item d-flex">
                                    <div class="travel-item__image">
                                        <img src="assets/images/final-item-ticket-icon.png" alt="">
                                    </div>
                                    <p class="travel-item__text">ორმხრივი ავიაბილეთი</p>
                                </li>
                                <li class="travel-item d-flex">
                                    <div class="travel-item__image">
                                        <img src="assets/images/final-item-event-icon.png" alt="">
                                    </div>
                                    <p class="travel-item__text">The Festival in Malta<br> -ს მეინ ივენთის ბაი-ინი</p>
                                </li>
                                <li class="travel-item d-flex">
                                    <div class="travel-item__image">
                                        <img src="assets/images/final-item-event-icon.png" alt="">
                                    </div>
                                    <p class="travel-item__text">Holdem ან Omaha <br>ჰაიროლერ ტურნირის ბაი-ინი</p>
                                </li>
                                <li class="travel-item d-flex">
                                    <div class="travel-item__image">
                                        <img src="assets/images/final-item-hotel-icon.png" alt="">
                                    </div>
                                    <p class="travel-item__text">სასტუმრო Golden Tulip<br> Vivaldi Hote</p>
                                </li>
                                <li class="travel-item d-flex">
                                    <div class="travel-item__image">
                                        <img src="assets/images/final-item-money-icon.png" alt="">
                                    </div>
                                    <p class="travel-item__text">€500 სახარჯი ფული</p>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
            <div class="festival-travel__item">
                <div class="card festival-card">
                    <h5 class="card-header festival-header">A კატეგორიის საგზურში შედის</h5>
                        <div class="travel-body">
                            <ul class="travel-items">
                                <li class="travel-item d-flex">
                                    <div class="travel-item__image">
                                        <img src="assets/images/final-item-ticket-icon.png" alt="">
                                    </div>
                                    <p class="travel-item__text">ორმხრივი ავიაბილეთი</p>
                                </li>
                                <li class="travel-item d-flex">
                                    <div class="travel-item__image">
                                        <img src="assets/images/final-item-event-icon.png" alt="">
                                    </div>
                                    <p class="travel-item__text">The Festival in Malta<br> -ს მეინ ივენთის ბაი-ინი</p>
                                </li>
                                <li class="travel-item d-flex">
                                    <div class="travel-item__image">
                                        <img src="assets/images/final-item-event-icon.png" alt="">
                                    </div>
                                    <p class="travel-item__text">Holdem ან Omaha <br>ჰაიროლერ ტურნირის ბაი-ინი</p>
                                </li>
                                <li class="travel-item d-flex travel-last__item">
                                    <div class="travel-item__image">
                                        <img src="assets/images/final-item-hotel-icon.png" alt="">
                                    </div>
                                    <p class="travel-item__text">სასტუმრო Golden Tulip<br> Vivaldi Hote</p>
                                </li>
                                
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="win card">
        <h5 class="card-header">ᲛᲝᲘᲒᲔ ᲡᲐᲒᲖᲣᲠᲘ 30 ᲐᲞᲠᲘᲚᲘᲡ ᲤᲘᲜᲐᲚᲣᲠ ᲢᲣᲠᲜᲘᲠᲔᲑᲖᲔ</h5>
        <div class="card-body">
            <div class="container">
                <div class="win-items d-flex ">
                    <div class="win-items__left col-md-6">
                        <div class="win-item__left">
                            <h6 class="win-item__title">“Cashgame Highrollers” -</h6>
                            <p class="win-item__subtitle">1 საგზური</p>
                        </div>
                        <div class="win-item__left">
                            <h6 class="win-item__title">“Cashgame Highrollers” -</h6>
                            <p class="win-item__subtitle">1 საგზური</p>
                        </div>
                        <div class="win-item__left">
                            <h6 class="win-item__title">“Cashgame Highrollers” -</h6>
                            <p class="win-item__subtitle">1 საგზური</p>
                        </div>
                        
                    </div>
                    <div class="win-items__right col-md-6">
                        <div class="win-item__right">
                            <h6 class="win-item__title">„The Festival in Malta, GTD“</h6>
                            <p class="win-item__subtitle">A კატეგორიის 1 საგზური</p>
                            <p class="win-item__subtitle">B კატეგორიის 1 საგზური</p>
                            <p class="win-item__subtitle">ტურნირში მონაწილეობის მიღება შეუძლია<br> ნებისმიერ მსურველს 165₾ ბაი-ინის გადახდით.</p>
                        </div>
                        <div class="win-item__right">
                            <h6 class="win-item__title">„The Lord of the Rings“</h6>
                            <p class="win-item__subtitle win-item__lastsubtitle ">C კატეგორიის 1 საგზური</p>
                            <p class="win-item__subtitle">ტურნირში მონაწილეობის მიღება შეუძლია<br> ნებისმიერ მსურველს 165₾ ბაი-ინის გადახდით.</p>
                        </div>
                    </div>
                </div>
                <p class="card-subtitle">* თუ მოთამაშე მოიგებს ბეჭედს ორჯერ ან მეტჯერ, ის The Lord of the Rings ტურნირზემოხვდება<br> ბეჭდების შესაბამისი რაოდენობის სტეკით</p>
                <p class="card-subtitle">*ტურნირში მონაწილეობის მიღება შეუძლია ნებისმიერ მსურველს 165₾-იანი<br> ბაი-ინის გადახდით.</p>
            </div>
        </div>
    </div>
    <div class=" key card">
        <h5 class="card-header">1 ₾ ᲠᲔᲘᲙᲘ = 1 ᲥᲣᲚᲐᲡ</h5>
        <div class="card-body">
            <h6 class="card-title">მოთამაშეები გარკვეული საპრიზო ადგილების დაკავების შემთხვევაში მიიღებენ საიდუმლო გასაღებს</h6>
            <div class="key__items">
                <div class="key__item d-flex align-items-center col-md-12" >
                    <div class="key-num">
                        <span>1</span>
                    </div>
                    <div class="key-text">
                        <p >სპეციალური ტურნირი Cashgame Sharks II ადგილი</p>
                    </div>
                </div> <!-- ./key__item -->
                <div class="key__item d-flex align-items-center col-md-12" >
                    <div class="key-num">
                        <span>2</span>
                    </div>
                    <div class="key-text">
                        <p >სპეციალური ტურნირი Cashgame Sharks II ადგილი</p>
                    </div>
                </div> <!-- ./key__item -->
                <div class="key__item d-flex align-items-center col-md-12" >
                    <div class="key-num">
                        <span>3</span>
                    </div>
                    <div class="key-text">
                        <p >სპეციალური ტურნირი Cashgame Sharks II ადგილი</p>
                    </div>
                </div> <!-- ./key__item -->
                <div class="key__item d-flex align-items-center col-md-12" >
                    <div class="key-num">
                        <span>4</span>
                    </div>
                    <div class="key-text">
                        <p >სპეც. ტურნირი Tournament Sharks III ადგილი</p>
                    </div>
                </div> <!-- ./key__item -->
                <div class="key__item d-flex align-items-center col-md-12" >
                    <div class="key-num">
                        <span>5</span>
                    </div>
                    <div class="key-text">
                        <p >Holdem Grinders ლიდერბორდის გამარჯვებული</p>
                    </div>
                </div> <!-- ./key__item -->
                <div class="key__item d-flex align-items-center col-md-12" >
                    <div class="key-num">
                        <span>6</span>
                    </div>
                    <div class="key-text">
                        <p >ქეშგეიმ დაბალი ლიმიტების ლიდერბორდების გამარჯვებულები</p>
                    </div>
                </div> <!-- ./key__item -->
        </div>
    </div>
</div>
<app-content-info></app-content-info>
<app-content-rules></app-content-rules>
<app-content-promotions></app-content-promotions>
