.card{
    background:#171718;
    text-align:center;
    color:#FFFFFF;
    font-size:14px;
    margin-bottom:55px;
    border: 5px solid #2C3234;
    border-radius:20px;
    position:relative;
}
.card-header{
    font-size:18px;
    font-weight:600;
    background:#2C3234;
    padding:23px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card::before{
    content: "";
    position: absolute;
    border-top: 5px solid #EF5A21;
    width: 300px;
    left: 291px;
    box-shadow: 0px 0px 10px #EF5A21;
    border-radius: 2px;
}

.card-sutitle{
    text-align:center;
}
.card-title{
    font-size:16px;
    font-weight:500;
    margin-right:12px;
    margin-bottom:20px;
}
.card-sutitle__img{
    width: 24px;
    height: 24px;
}
.card-text a{
    color:#EF5A21;
}
.card-text{
    margin-bottom:20px;
}