<div class="card">
    <h5 class="card-header">1 ₾ ᲠᲔᲘᲙᲘ = 1 ᲥᲣᲚᲐᲡ</h5>
    <div class="card-body">
        <div class="container">
            <div class="card-sutitle d-flex justify-content-center">
                <h5 class="card-title">ჰოლდემის TOP20 ლიდერბორდი</h5>
            <img class="card-sutitle__img" src="assets/images/example-icon.png" alt="">
            </div>
            <app-leaderboard></app-leaderboard>
            <div class="card-sutitle d-flex justify-content-center">
                <h5 class="card-title">ჰოლდემის TOP20 ლიდერბორდი</h5>
            <img class="card-sutitle__img" src="assets/images/example-icon.png" alt="">
            </div>
            <app-leaderboard></app-leaderboard>
            <p class="card-text">* ლიდერბორდის შედეგები განახლდება 
                <a href="/">პოკერის ლობიში</a>
            </p>
        </div>
    </div>
</div>
<app-content-info></app-content-info>
<app-content-rules></app-content-rules>
<app-content-promotions></app-content-promotions>
