<div class="content-rules">
    <h3 class="content-rules__title">წესები და პირობები</h3>

    <div class="dropdown ">
        <button class="btn dropdown-btn dropdown-toggle col-md-12 d-flex justify-content-between dropdown-toggle-split" role="button" type="button" data-bs-toggle='dropdown' aria-expanded="false">
            როდის იწყება და რა ფორმატით გაიმართება აქცია
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="#FFFFFF" d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/>
            </svg>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark col-md-11 ">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    <div class="dropdown ">
        <button class="btn dropdown-btn dropdown-toggle col-md-12 d-flex justify-content-between" role="button" type="button" data-bs-toggle='dropdown' aria-expanded="false">
          როგორ მივიღო აქციაში მონაწილეობა?
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="#FFFFFF" d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/>
            </svg>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark col-md-11">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    <div class="dropdown ">
        <button class="btn dropdown-btn dropdown-toggle col-md-12 d-flex justify-content-between" role="button" type="button" data-bs-toggle='dropdown' aria-expanded="false">
          სხვადასვა
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="#FFFFFF" d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/>
            </svg>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark col-md-11">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>

      
</div>
