.content-rules{
    text-align:left;
    margin-bottom:54px;
}
.content-rules__title{
    font-size:18px;
    font-weight:500;
    margin-bottom:32px;
}
.dropdown{
    background:#25292B;
    padding:20px 26px 20px;
    border-radius:20px;
    border:0;
    margin-bottom:10px;
    color:#FFFFFF;
}
.dropdown-btn{
    font-size:15px;
    text-align:left;
    color:#FFFFFF;
    border:0;
}
.dropdown-toggle::after {
    display:none;
}
.dropdown__icon{
    width:14px;
    height:8px;
}
svg{
    color:#FFFFFF;
    width:20px;
    height:20px;
}