<div class="content-promotions">
    <h3 class="content-promotions__title"> მსგავსი აქციები </h3>
    <div class="content-promotions__items d-flex">
        <div class="content-promotions__item">
            <div class="card text-bg-dark">
                <img src="assets/images/footer1.png" class="card-img" alt="...">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                  <h5 class="card-title">Get 300% Cashback</h5>
                  <p class="card-text"><small>retrieve 300% bet amount as real money only here</small></p>
                </div>
              </div>
        </div>
        <div class="content-promotions__item">
            <div class="card text-bg-dark">
                <img src="assets/images/footer2.png" class="card-img" alt="...">
                <div class="card-img-overlay d-flex flex-column justify-content-end ">
                  <h5 class="card-title">Get 300% Cashback</h5>
                  <p class="card-text"><small>retrieve 300% bet amount as real money only here</small></p>
                </div>
              </div>
        </div>
        <div class="content-promotions__item">
            <div class="card text-bg-dark">
                <img src="assets/images/footer3.png" class="card-img" alt="...">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                  <h5 class="card-title">Get 300% Cashback</h5>
                  <p class="card-text"><small>retrieve 300% bet amount as real money only here</small></p>
                </div>
              </div>
        </div>
        <div class="content-promotions__item">
            <div class="card text-bg-dark">
                <img src="assets/images/footer1.png" class="card-img" alt="...">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                  <h5 class="card-title">Get 300% Cashback</h5>
                  <p class="card-text"><small>retrieve 300% bet amount as real money only here</small></p>
                </div>
              </div>
        </div>
    </div>
</div>