<div class="header__inner d-flex justify-content-between">
    <div class="header__logo">
        <a href="https://www.europebet.com">
            <img src="assets/home-pg-images/7803e4d7-06df-4ad0-91c4-ed2d4408359c.svg" alt="Europebet logo">
        </a>
    </div>
    <div class="header-buttons">
        <button type="button" 
        class="registration-btn__first btn me-2" area-label="რეგისტრაცია">
            <span>რეგისტრაცია</span>
        </button>
        <button type="button" 
        class="btn" area-label="შესვლა">
            <span>შესვლას</span>
        </button>
    </div>
</div>
